extends layout
block content
 h1= title
 form(id='CatForm', action="/resource/cat", method="POST")
  div.form-group
    label.catAttr(for='cat_type') Cat type
    input#cat_type(type='text', name='cat_type')
  div.form-group
    label.catAttr(for='size') cat size
    input#size(type='text', name='size')
  div.form-group
    label.catAttr(for='cost') cat cost
    input#cost(type='number', name='cost')
 input(type="submit")
 script.
  document.forms['catForm'].addEventListener('submit', (event) => {
   event.preventDefault();
 // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
 // TODO handle body
   }).catch((error) => {
 // TODO handle error
    alert("Save failed " + error )
   });
  });