extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to Update cat
 else 
  - let catid = toShow._id
  - let cat_type = toShow.cat_type
  - let catcost = toShow.cost
  - let catsize = toShow.size
    
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{catid}
    - let actionid = "/resource/cat/" + catid
    form(id='catForm', action= actionid, method="PUT")
        div.form-group
            label.catAttr(for='cat_type') cat Type
            input#cat_type(type='text', name='cat_type', value= cat_type )
        div.form-group
            label.catAttr(for='catcost') cat Price
            input#catprice(type='number', name='catcost', value= cost)
        div.form-group
            label.catAttr(for='catsize') cat Size
            input#catsize(type='text', name='catsize', value= size )

        input(type="submit")

    script.
        document.forms['catForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        console.log(event.target)
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });