//- extends layout

//- block content
//-   h1= title
//-   p Sarika Manchala
//-   button(type="button", class="btn btn-primary", onclick="update()") Press Me for the contents
//-   |
//-   div(id="target") Display

//-   a(href = '/cat') cat Page link
//-   |
//-   script. 
//-     let client_count = 0;
//-     function update() {
//-       client_count = client_count + 1;
//-       document.getElementById("target").innerHTML = `Value now ${client_count}`  ;
//-       }
block content

 if (!user)
  a(href="/login") Login
  br
  a(href="/register") Register
 if (user)
  p You are currently logged in as #{user.username}
  a(href="/cat") Go to the Cat Page
  br
  a(href="/logout") Logout