body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.catAttr { 
  width: 500px; 
  font: 300;
  height: 50px;
  font-size: 20px;
  background-color: rgb(178, 207, 212);
} 

 

h1{
  margin-left: -10px;
  text-shadow: 2px 2px #0077ff;
  font: bold;
  width: 500px;
  color: rgb(111, 110, 150);
}
.cat{
  width: 500px; 
  font: 300;
  height: 50px;
  font-size: 20px;
  background-color:rgb(43, 18, 156);

}
div{
  align-items: center;
}